<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
  <title>{{ page.title }}</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css">
<link rel="stylesheet" href="{{site.base_url}}/public/css/styles.css">