<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      <article>
        <h2>{{ page.title }}</h2>
        <time pubdate="pubdate">{{ page.published_date | date: "%Y/%m/%d %H:%M:%S" }}</time>
        {{ page.excerpt }}
      </article>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>